/*Estilo de la grilla*/
  .container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    grid-template-columns: 70px 130px 4fr;
    grid-template-rows: 140px 200px 170px;
    font-family: montserrat;
    font-size: 10px;
  }
  .barra {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .datos {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  }
  .contacto {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  }
  .antecedentes {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  }

  /*Estilos auxiliares*/
  .container {
  max-width: 800px;
  min-width: 400px;
  }
  .barra {
  background: #D8D9E0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  }
  .datos {
  background: #87868A;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  }
  .contacto {
  background: #C2C3C9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .antecedentes {
  background: #D8D9DD;
  padding-left: 10px;
  padding-right: 10px;
  }
